<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">

	<div class="container">

		<footer class="py-5 bg-black">

			<div class="container">
				<p class="m-0 text-center text-white small">Copyright &copy; Your CakeTopia 2018</p>
				<br />
				<p class="m-0 text-center text-white small"><a th:href="@{/contact}">Contacts</a></p>
	</div>
	<!-- /.container -->
	<span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span> |
		<!--Roles: <span sec:authentication="principal.authorities"></span> |-->
                <a th:href="@{/logout}">Sign Out</a>
            </span>

	<!--<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
-->
	<script src="../../vendor/jquery/jquery.min.js"></script>
	<script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

		</footer>
	</div>

</div>
</body>
</html>